.w{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 84px;
    /* background-color: pink; */
    border-bottom: 2px solid #b1191a;
    padding-top: 13px;
}
.header .logo a{
    display: block;
    width: 174px;
    height: 56px;
}
.registerarea{
    margin-top: 21px;
    position: relative;
    height: 522px;
    /* background-color: pink; */
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.registerarea .registerarea_hd{
    margin: -1px;
    height: 42px;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf;
    line-height: 42px;
}
.registerarea .registerarea_hd h3{
    margin-left: 10px;
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
.registerarea .registerarea_hd p{
    margin-right: 10px;
    float:right;
    font-size: 14px;
    color: #333;
}
.registerarea .registerarea_hd p a{
    margin-right: 10px;
    float:right;
    font-size: 14px;
    color: #c81623;
}
.registerarea .registerarea_bd .reg_form{
    padding-top: 54px;
    margin: 0 auto;
    width: 540px;
    /* height: 425px; */
    /* background-color: pink; */
    /* text-align: center; */
}
.reg_form label{
    display: inline-block;
    width: 85px;
    
    /* background-color: #333; */
    text-align: right;
    /* line-height: 36px; */
    font-size: 14px;
    color: #4d4d4d;
}
.reg_form input[type=text]{
    
    margin-left: 11px;
    width: 242px;
    height: 38px;
    border: 1px solid #999999;
}
.reg_form input[type=password]{
    
    margin-left: 11px;
    width: 242px;
    height: 38px;
    border: 1px solid #999999;
}
.reg_form li{
    margin-bottom: 20px;
}
.reg_form li:nth-child(3){
    margin-bottom: 10px;
}
.reg_form .error{
    font-size: 12px;
    color: #df3033;
    
}
.reg_form .error_icon{
    margin-left: 6px;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
}
.success{
    color: green;
}
.reg_form .success_icon{
    margin-left: 6px;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
}
.reg_form .safe .ruo{
    padding: 0 12px;
    background-color:  #de1111;
}
.reg_form .safe .zhong{
    padding: 0 12px;
    background-color:  #40b83f;
}
.reg_form .safe .qiang{
    padding: 0 12px;
    background-color:  #f79100;
    right: 0;
}
.reg_form ul .safe{
    padding-left: 171px;
}

.reg_form .agree input{
    font-size: 12px;
    color: #4d4d4d;
    vertical-align: middle;
}
.reg_form ul .agree{
    padding-left: 96px;
    
}
.reg_form .agree a{
    margin-left: 5px;
    font-size: 12px;
    color: #1ba1e6;
}
.reg_form .done button{
    margin-top: 31px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    
}
.reg_form .done{
    padding-left: 107px;
}
.mod_copyright{
    margin-top: 25px;
    text-align: center;
}
.mod_copyright .links{
    margin-bottom: 8px;
}
.mod_copyright .links a{
    padding: 0 3px;
}
